.bg-container {
    background-color: #f8c8dc;
    background-size: cover;
    min-height: 100vh;
}
.img-style {
    width: 100%;        /* ✅ responsive */
    height: auto; 
    padding: 5px;
    border-radius: 20px;
}
.card-bg {
    background-color: #ffffff;
    width: 95%;
    max-width: 400px;  
    border-radius: 15px;
    position: fixed;
}
.heading-style {
    font-size: 22px;
    color: #d63384; 
    margin-top: 10px;
}
.para {
    font-size: 14px;
}
.btn-style {
    display: inline-block;
    padding: 8px 14px;
    margin: 8px;
    background-color: #ff4d6d;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}
@media (max-width: 576px) {

    .card-bg {
        width: 95%;
        padding: 15px;
    }

    .heading-style {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .btn-style {
        font-size: 14px;
        padding: 8px 14px;
    }
}
.yes-btn {
    background-color: #ff4d6d;
    color: white;
}

.no-btn {
    background-color: #6c757d;
    color: white;
    text-decoration: none;
}
.moving-btn {
    position: absolute;
    transition: 0.2s;
}